<!DOCTYPE html>
<html>
  <head>
    <title>Pinspo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.picture1 = "<%= image_url('placeholder1.jpg') %>";
    </script>
    <script type="text/javascript">
      window.picture2 = "<%= image_url('placeholder2.jpg') %>";
    </script>
    <script type="text/javascript">
      window.picture3 = "<%= image_url('placeholder3.jpg') %>";
    </script>
    <script type="text/javascript">
      window.picture4 = "<%= image_url('placeholder4.jpg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
