<!DOCTYPE html>
<html>
  <head>
    <title>Pinspo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="_" />
    <meta name="title" property="og:title" content="_" />
    <meta property="og:type" content="_" />
    <meta property='og:image' content="<%= image_url('pinspo.gif') %>"/>
    <meta property="og:image" content="../assets/images/pinspo.gif" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta property="og:image" content="../assets/images/pinspo.gif" />
    <meta property='og:image' content="<%= image_url('pinspo.gif') %>"/>
    <%= favicon_link_tag asset_path('pinfavicon.png') %>

    <script type="text/javascript">
      window.picture1 = "<%= image_url('placeholder1.jpg') %>";
    </script>
    <script type="text/javascript">
      window.picture2 = "<%= image_url('placeholder2.jpg') %>";
    </script>
    <script type="text/javascript">
      window.picture3 = "<%= image_url('placeholder3.jpg') %>";
    </script>
    <script type="text/javascript">
      window.picture4 = "<%= image_url('placeholder4.jpg') %>";
    </script>
    <script type="text/javascript">
      window.banner = "<%= image_url('banner.jpg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
